.icono {
  font-size: 3rem;
  color: #0d6efd;
  margin-bottom: 15px;
}

.card-title {
  font-weight: bold;
}

.card:hover {
  transform: translateY(-5px);
  transition: 0.3s ease;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
